<!-- About Section -->
  <div class="w3-row w3-padding-64" id="about">
    <div class="w3-col m6 w3-padding-large w3-hide-small">
     <img src="bbc_news_logo.png" class="w3-round w3-image w3-opacity-min" style='width: 100%; object-fit: contain'>
    </div>
    <center>
    <div class="w3-col m6 w3-padding-large">
      <font size="16">
      <h1 class="w3-center">About BBC News<br> 
      </h1>
      </font>
      <font size="12">
      <p class="w3-large">iOS Mobile Application</p>
    </font>
      <font size="10">
      <p class="w3-large"> Used libraries </p>
    </font>
      <font size="8">
        <p> Alamofire </p>
        <p> SD Web Image </p>
        <p> SideMenu </p>
      </font>
    </div>
    </center>
  </div>
  <hr>
